%section#links
  #social
    = link_to(Settings.social.linkedin, target: '_blank') do
      %i.nc.nc-logo-linkedin
    = link_to(Settings.social.github, target: '_blank') do
      %i.nc.nc-logo-github

  = link_to(t('contact'), "mailto:#{Settings.email}",
            class: 'button sec')

%section#content
  %section#hero
    %h1= t('title')

    #subscribe
      %p= t('subscribe.content')
      %p.mobile
        = t('footer',
            github: link_to('GitHub', Settings.social.github),
            medium: link_to('Medium', Settings.social.medium),
            behance: link_to('Behance', Settings.social.behance)).html_safe
      = link_to(t('subscribe.title'), 'javascript:void(0)', class: 'button')
      = link_to('javascript:void(0)', id: 'more') do
        %i.nc.nc-tail-triangle-down-2
        %p= t('more')

  %section#apps
    %h3= t('apps.title')

    .wrapper
      = link_to('https://github.com/quik-lang/quik', target: '_blank') do
        %h2= t('apps.quik.title')
        %p= t('apps.quik.content')
      = link_to('https://github.com/jonhue/plaain', target: '_blank') do
        %h2= t('apps.plaain.title')
        %p= t('apps.plaain.content')
      = link_to('https://github.com/jonhue/tip-the-world-cup', target: '_blank') do
        %h2= t('apps.tip_the_world_cup.title')
        %p= t('apps.tip_the_world_cup.content')

  %footer
    %p= t('footer',
          github: link_to('GitHub', Settings.social.github, target: '_blank'),
          medium: link_to('Medium', Settings.social.medium, target: '_blank'),
          behance: link_to('Behance', Settings.social.behance, target: '_blank')).html_safe
