- append :head do
    = component 'seo/schema', type: :person, name: 'Jonas Hübotter', email: 'me@jonhue.me', address: 'Berlin', gender: 'male', job_title: 'Software Developer', url: 'https://jonhue.me', image: 'https://jonhue.me/512x512.png', description: 'A student, a dangerously passionate open-source developer, an engineer adoring user-oriented and innovative design.'




%h1 It's me, Jonas Hübotter :)
%p
    A student, a dangerously passionate
    = link_to 'open-source', 'https://github.com/jonhue', target: '_blank'
    developer, an engineer adoring user-oriented and innovative design.
%p
    I'm the creator of various apps like
    = link_to 'NativeGap', 'https://nativegap.com', target: '_blank'
    and
    = link_to 'Phylator', 'https://phylator.herokuapp.com', target: '_blank'
    + the founder of
    = link_to 'Slooob', 'https://slooob.com', target: '_blank'
    &
    = link_to 'Yaeme', 'https://yaeme.com', target: '_blank'

.button-wrapper
    = link_to 'Project overview', 'https://github.com/jonhue/projects/projects/1?fullscreen=1', class: 'btn', target: '_blank'
    = link_to 'Follow me on twitter', 'https://twitter.com/jhubotter', class: 'btn', target: '_blank'

%footer
    %p.small Get a glimpse off of my work:
    .wrapper.flex.middle
        = link_to 'https://twitter.com/jhubotter', target: '_blank' do
            = asset 'components/social/twitter'
        = link_to 'https://github.com/jonhue', target: '_blank' do
            = asset 'components/social/github'
        = link_to 'https://linkedin.com/in/jonhue', target: '_blank' do
            = asset 'components/social/linkedin'
        = link_to 'https://medium.com/@jonhue', target: '_blank' do
            = asset 'components/social/medium'
        = link_to 'https://behance.net/jonhue', target: '_blank' do
            = asset 'components/social/behance'
