= mozaic do

    = component 'myg/toolbar', data: { turbolinks_animate_persist: 'true' } do
        .myg-wrap--large.mdc-toolbar__row
            %section.mdc-toolbar__section.mdc-toolbar__section--align-start
                %h3= link_to 'Jonas Hübotter', root_url
            %section.mdc-toolbar__section.mdc-toolbar__section--align-end.mobile
                = link_to 'javascript:void(0)', class: 'preventdefault' do
                    = asset 'components/drawer/toggle'
            %section.mdc-toolbar__section.mdc-toolbar__section--align-end
                = link_to 'Apps', root_url + '#apps'
                = link_to 'Writing', root_url + '#writing'
                = link_to 'Open Source', root_url + '#open-source'
                = link_to 'Contact', contact_url, class: 'myg-button myg-button--dense myg-button--secondary'

    .myg-content
        = mozaic_area :application do
            = yield
